

<div class="form-header">
    <h2>        <%= title %>  </h2>

  </div>
  <form method="post" action="/projects/tasks/">
    <div class="form-field">
        <textarea class="input" id="message" name="message" rows="4"></textarea> 
    </div>
          
          <div class="form-actions">
            <button class="btn" type="submit">Send</button>
          </div>
        </form>
        
